.black-page {
    background: #000;
    display: flex;
    justify-content: center;
    /* text-align: start; */
    height: 100%;
    min-height: 100vh;
}

.side-bar {
    width: 81px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg, #2D202B 0%, #DAB2B4 100%);
}

.side-bar > img {
    margin-left: 25px;
    margin-top: 105px;
}

.artistcard {
    text-align: start;
    padding-left: 91px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    justify-content: center;
    padding-top: 81px;
}

.back-button {
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    
    border: none;
    outline: none;
    background: transparent;

    display:flex;
    align-items: center;

    margin-bottom: 30px;
    margin-top: 80px;
    mask-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%));

    @media screen and (max-width: 900px){ 
        visibility: hidden;
        margin-top: 0;
    }
}

.back-chervon {
    padding-right: 5px;
}

.card-head {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.card-head > h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.card-head > button {
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    border-radius: 50px;
    background: #5E935D;
    border: none;
    outline: none;
    width: 185px;
    height: 31px;
}

.artistcard > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 20px;
    justify-self: start;
}

.artistcard-main {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 106px;
}

.top-tracks {
    display: grid;
    gap: 27px;
}

.top-track {
    height: 163px;
    width: 100%;
    max-width: 360px;
    display: flex;
    gap: 14px;
}

.top-track:hover {
    cursor: pointer;
}

.top-track > span {
    display: grid;
    gap: 15px;
}

.artist-info {
    width: 100%;
}

.artist-photo {
    width: 274px;
    height: 319px;
    border-radius: 19px;
}

.artist-info-second-part {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    gap: 20px;
}

.artist-info-second-part > span > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.artist-info-second-part > span > ul {
    margin-top: 10px;
    padding-left: 30px;
    margin-bottom: 25px;
}
/* 
.playlists {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 106px;
} */

.playlist {
    display: grid;
    justify-items: left;
    width: 18.4%;
    @media screen and (max-width: 1300px) and (min-width: 901px){ 
        width: 21.25%;
    }
    @media screen and (max-width: 900px) and (min-width: 721px){ 
        width: 30%;
    }
    @media screen and (max-width: 720px){ 
        width: 48%;
    }
}

.playlist:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.98);
}

/* .playlist > p {
    width: 170px;
    height: fit-content;
} */

.song-title {
    width: 100%;
    max-width: 500px;
    padding-right: 67px;

    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.track-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.song-title:hover {
    cursor: pointer;
}

.song-genre {
    width: 100%;
    text-align: center;
    padding: 5px;
    max-width: 150px;   
    border-radius: 36.135px;
    border: 2.286px solid #FE1170;
    color: #FFF;

    font-family: Montserrat;
    font-size: 13.988px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.track > a {
    display: flex;
    padding-right: 10px;
}

.track > a:hover, .track-buttons > a:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.95);
}

.link:hover {
    cursor: pointer;
}

.subcribe-button:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(1.1);
}

.back-button:hover {
    cursor: pointer;
}


.list-modal-container{
    position:inherit;
    z-index: 2;
}
.list-modal-container:hover {
    cursor: pointer;
}
.list-modal-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    background: #EAE1E1;
    border-radius: 10px;
    width: 280px;
}

.add-to-playlist{
    color: black;
    font-size: 18px;
    max-width: 100%;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: space-around;
}
.modal-button{
    border: none;
    transition: 250ms ease-in-out;
    background: black;
    color: white;
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: var(--text-font);
}
.modal-button:hover{
    color: white;
    background: #5E935D;
}
.l-m-w-hidden{
    display: none;
}

.song-state {
    width: 259px;
}

.artist-card-container{
    width: 100%;
    padding-left: var(--sidebar-width);
    min-height: 100dvh;
    background-color: #0F141D;

    transition: padding 250ms ease-in-out;
}
.content-container{
    position: relative;
    /* padding: 0 40px; */
    padding-top: var(--header-height);
    width: 100%;
    max-width: 1220px;
    max-height: 100vh;
    margin: 0 auto;
}
.content-container >  div{
    z-index: 8;
    position: relative;
}

.artist-bg-image{
    pointer-events: none;
    position: absolute;
    left: var(--sidebar-width);
    top:0;

    width: calc(100% - var(--sidebar-width));
    height: max(100%, 100vh);

    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1)-60%, rgba(0,0,0,0)80%);
    filter: blur(1em);
    transition: 250ms ease-in-out;
}

.artist-card-menu {
    display: flex;
    width: 100%;
    height: 60px;

    border-bottom: #191E28 solid 4px;

    margin-bottom: 40px;
    margin-top: 40px;

    @media screen and (max-width: 720px){ 
        border-bottom: #191E28 solid 2px;
        margin-top: 10px;
        height: 45px;
        margin-bottom: 24px;
    }
}

.artist-card-menu-item {
    display: flex;
    height: 60px;
    /* width: 155px;
    max-width: 250px; */
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;

    border-bottom: #191E28 solid 4px;

    padding-left: 24px;
    padding-right: 24px;

    @media screen and (max-width: 720px){ 
        font-size: 14px;
        border-bottom: #191E28 solid 1px;
        height: 45px;
    }
}

.artist-card-menu-item:hover {
    cursor: pointer;
}
