.black-page {
    background: #000;
    display: flex;
    justify-content: center;
    /* text-align: start; */
    height: 100%;
    min-height: 100vh;
}

.side-bar {
    width: 81px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg, #2D202B 0%, #DAB2B4 100%);
}

.side-bar > img {
    margin-left: 25px;
    margin-top: 105px;
}

.artistcard {
    text-align: start;
    padding-left: 91px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    justify-content: center;
    padding-top: 81px;
}

.back-button {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    
    border: none;
    outline: none;
    background: transparent;

    display:flex;
    align-items: center;

    margin-bottom: 30px;
    margin-top: 30px;
}

.card-head {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.card-head > h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.card-head > button {
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    border-radius: 50px;
    background: #5E935D;
    border: none;
    outline: none;
    width: 185px;
    height: 31px;
}

.artistcard > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 20px;
    justify-self: start;
}

.artistcard-main {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 106px;
}

.top-tracks {
    display: grid;
    gap: 27px;
}

.top-track {
    height: 163px;
    width: 100%;
    max-width: 360px;
    display: flex;
    gap: 14px;
}

.top-track:hover {
    cursor: pointer;
}

.top-track > span {
    display: grid;
    gap: 15px;
}

.artist-info {
    width: 100%;
    max-width: 661px;
}

.artist-photo {
    width: 274px;
    height: 319px;
    border-radius: 19px;
}

.artist-info-second-part {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    gap: 20px;
}

.artist-info-second-part > span > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.artist-info-second-part > span > ul {
    margin-top: 10px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.playlists {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 106px;
}

.playlist {
    display: grid;
    justify-items: left;
    width: 230px;
}

.playlist:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.98);
}

.playlist > p {
    width: 170px;
    height: fit-content;
}

.track {
    display: flex;
    border-radius: 15px;
    background: radial-gradient(228.74% 144.12% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
   
    width: 100%;
    height: 68px;
    max-width: 1040px;
    align-items: center;

    margin-bottom: 33px;
    padding-left: 10px;
    padding-right: 10px;

    justify-content: space-around;
}

.track:hover {
    filter: brightness(90%)
}

.track > img {
    border-radius: 55px;
    width: 55px;
    height: 55px;
    margin-left: 15px;
    margin-right: 26px;
}

.song-title {
    width: 100%;
    max-width: 500px;
    padding-right: 67px;

    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.song-title-t {
    width: 100%;
    max-width: 300px;
    margin-right: 67px;
    height: 67px;

    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;

    text-overflow:ellipsis;
    overflow:scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.songAuthor{
    color: #C5C5C5;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.song-title:hover {
    cursor: pointer;
}

.song-genre {
    width: 100%;
    text-align: center;
    padding: 5px;
    max-width: 100px;   
    border-radius: 36.135px;
    border: 2.286px solid #FE1170;
    color: #FFF;

    font-family: Montserrat;
    font-size: 13.988px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.song-duration {
    width: 100%;
    max-width: 150px;
    margin-left: 10px;
    text-align: end;
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 10px;
}

.track > a {
    display: flex;
    padding-right: 10px;
}

.track > a:hover, .track-buttons > a:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.95);
}

.link:hover {
    cursor: pointer;
}

.subcribe-button:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(1.1);
}

.back-button:hover {
    cursor: pointer;
}


.list-modal-container{
    position:inherit;
    z-index: 2;
}
.list-modal-container:hover {
    cursor: pointer;
}
.list-modal-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    background: #EAE1E1;
    border-radius: 10px;
    width: 280px;
}
.list-modal-window{
    z-index: 60;
    position: absolute;
    display: flex;
    margin-left: 800px;
    margin-top: -40px;
    flex-direction: column;
    gap:10px;
}
.add-to-playlist{
    color: black;
    font-size: 18px;
    max-width: 100%;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: space-around;
}
.modal-button{
    border: none;
    transition: 250ms ease-in-out;
    background: black;
    color: white;
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: var(--text-font);
}
.modal-button:hover{
    color: white;
    background: #5E935D;
}
.l-m-w-hidden{
    display: none;
}

.song-state {
    width: 259px;
}