.playlist-window {
    position: absolute;
    width: 1040px;
    max-width: 762px;
    height: fit-content;
    border-radius: 20px;
    background: linear-gradient(180deg, #DFB7B8 0%, rgba(45, 32, 43, 0.88) 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 22px;

    margin-top: 150px;
}

.playlist-head {
    display: flex;
    gap: 31px;
    justify-content: center;
    margin-bottom: 52px;
}

.playlist-head > h2 {
    text-align: start;
    width: 100%;
    max-width: 350px;
}

.playlist-cover {
    width: 250px;
    height: 250px;

    border-radius: 25px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.playlist-edit {
    display: inline-flex;
    width: 100%;
    gap: 30px;
    height: 22px;
    margin-top: 80px;
    margin-left: -760px;
    align-items: center;
}

.delete-playlist {
   
    color: #787885;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
}

.delete-playlist:hover {
    cursor: pointer;
}

.playlistname {
    color: #FFF;
    width: 100%;

    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 62px;  
    margin-left: 40px;
}

.rename-playlist:hover {
    cursor: pointer;
}

.rename-playlist {
    color: #787885;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
   
    
}

.playlist-information {
    display: flex;
    width: 1040px;
    
    margin-bottom: 106px;
}

.private-playlist {
    color: #787885;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.private-playlist:hover {
    cursor: pointer;
}

.private-checkbox{
    display: flex;
    gap: 6px;
} 

.input-name-playlist{
    background-color: transparent;
    width: 100%;
    border: none;
    box-shadow: none;
    color: white;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 62px;  
    margin-left: 40px;
}









    


