.playlist-information {
    display: flex;
    width: 100%;
    height: 250px;
    margin-bottom: 106px;
}

.playlist-edit {
    display: inline-flex;
    width: 100%;
    gap: 30px;
    height: 22px;
    margin-top: 20px;
    align-items: center; 
}

.nameplaylist-and-buttons {
    text-align: start;
    width: 100%;
    margin-left: 40px;
}

.delete-playlist {
    color: #787885;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.delete-playlist:hover {
    cursor: pointer;
}

.playlistname {
    color: #FFF;
    width: 100%;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.rename-playlist:hover {
    cursor: pointer;
}

.rename-playlist {
    color: #787885;
    
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.private-playlist {
    color: #787885;
    animation-name: textColor;
    animation-duration: 0s;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.private-playlist:hover {
    cursor: pointer;
}

.private-checkbox{
    display: flex;
    gap: 6px;
    margin-left: 5px;
} 

.input-name-playlist{
    background-color: transparent;
    width: 100%;
    border: none;
    box-shadow: none;
    color: white;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

}

.playlist-bg-image {
    pointer-events: none;
    position: absolute;
    left: var(--sidebar-width);

    width: calc(100% - var(--sidebar-width));
    height: max(100%, 100vh);

    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1)-60%, rgba(0,0,0,0)80%);
    filter: blur(.5em);

    transition: 250ms ease-in-out;
}

.playlist-bg-image {
    pointer-events: none;
    position: absolute;
    left: var(--sidebar-width);
    background-color: #0F141D;

    width: calc(100% - var(--sidebar-width));
    height: max(100%, 100vh);

    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1)-60%, rgba(0,0,0,0)80%);
    filter: blur(.5em);

    transition: 250ms ease-in-out;
}

.playlist-image {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.image-playlistskin {
    width: 250px;
    height: 250px;
}

.playlist-image-change {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 250px;
    height:100%;
    max-height: 250px;
    border-radius: 25px;
    visibility: hidden;
}

.playlist-image-wrapper:hover .playlist-image-change {
    cursor: pointer;
    visibility: visible;
    border-radius: 25px;
    background: linear-gradient(0deg, #191E28 0%, rgba(25, 30, 40, 0.00) 193.75%);
}

.checkbox {
    display: none;
}

.checkbox-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/src/Images/controller/checkbox.svg');
    background-size: cover;
}

.checkbox:checked + .checkbox-icon {
    background-image: url('/src/Images/controller/checkbox-check.svg');
}





    


