/* FILTERS */
.filters-container{
    max-height: 100%;
    position: absolute;
    right: 100px;
    top: -225px;
    transform: translateY(50%);
    display: none;
}
.filters-toggled{
    display: flex;
}
.filters{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 40px;
    width: 400px;
    height: max-content;
    background: rgb(25,30,40);
    border-radius: 25px;
    
    background: linear-gradient(119deg, rgba(25,30,40,1) 0%, rgba(180,180,180,0.7) 0%, rgba(15,20,29,0.5) 100%); 
    /* margin:80px auto 0 auto; */
    border: 2px solid #1a202b;
}
.filters-label{
    font-family: var(--text-font);
    text-align: start;
    font-size: 20px;
    color:#fff;
}

.filterOption{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 100%;
}
.filter-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.filter-top-start{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.filter-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;;
    background-color: #FE1170;
}
.filter-name{
    font-family: var(--text-font);
    font-size: 14px;
    font-weight: 500;
}

.filters-input{
    height: 30px;
    background-color: #fff;
    padding:5px 50px 5px 15px;
    border:none;
    border-radius: 10px;
}



/* SWITCH */
.filter-switch,
.filter-switch-toggled{
    display: flex;
    position: relative;
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 70px;
    background-color: #FE1170;
}
.filter-switch:hover,
.filter-switch-toggled{
    cursor: pointer;
}
.switch-state-name{
    user-select: none;
    font-family: var(--text-font);
    font-size: 16px;
    margin-bottom: 1px;
}
.switch-ball{
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    left: 4px;
    transform: translateX(0);
    transition: 250ms ease-in-out;
}
.filter-switch-toggled > .switch-ball{
    transform: translateX(410%);
}
.submit-tag-input{
    width: max-content;
}

/* FORM */
.filters-form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.submit-tag-input{
    position: absolute;
    height: 100%;
    padding-inline: 20px;
    background: none;
    border: none;
    right: 0;
}

/* TAGS */

.filter-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
}
.tag-container{
    display: flex;
    flex-direction: row;
    gap:5px;
    padding: 3px 10px;
    background-color: #FE1170;
    border-radius: 50px;
    align-items: center;
}
.tag{
    font-family: var(--text-font);
    font-size: 14px;
}
.tag-close{
    scale:1.5;
    color: white;
    font-family: var(--text-font);
    background: transparent;
    border: none;
}
/* CHECKBOX */
.filter-checkbox-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: start;
}
#explicit,
#removed{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.filters-title{
    text-align: left;
    margin-bottom: 16px;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.filters-apply-btn{
    width: 100%;
    background-color: #FE1170;
    padding:10px 0;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 10px;
}

.filters-apply-btn:active{
    background-color: #c9195f;
}

.filters-apply-btn:disabled{
    background-color: #c9195f;
}


.filters-notification-popup{
    position: absolute;
    top: 80px;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(119deg, rgba(25,30,40,1) 0%, rgba(180,180,180,0.7) 0%, rgba(15,20,29,0.5) 100%);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;

    animation: fade-in ease-in 250ms forwards;
}

@keyframes fade-in {
    0%{
        left: 0%;
        opacity: 0;
    }

    100%{
        left: -100%;
        opacity: 1;
    }
}

.filters-notification-popup > button{
    background-color: #c9195f;
    padding: 5px 15px;
    border-radius:5px;
    margin: 0 auto;
    width: max-content;
}