.glav-installmusic {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    
}

.song-information-1 {
    display: flex;
    text-align: start;
    justify-content: space-between;
    
    gap: 40px;

    @media screen and (max-width: 720px){ 
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.song-information-2 {
    display: flex;
    text-align: start;
    width: 100%;
    margin-top: 40px;
    gap: 24px 4%;
    flex-wrap: wrap;
}

.song-information-3 {
    text-align: start;
    margin-bottom: 200px;
    margin-top: 24px;
    width: 100%; 
}

.newtrack-h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 100%;
}

.uploadtrack-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 168px;
    border-radius: 25px;
    border: 3px dashed #787885;
}

.uploadtrack-p1 {
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}  

.uploadtrack-p2 {
    color: #787885;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    text-align: center;
}

.uploadtrack-div-inf {
    justify-content: center;
}

.or {
    color: #787885;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.submit-tag-input-track {
    width: max-content;
    position: absolute;
    padding-inline: 7px;
    background: none;
    border: none;
    right: 0;
    
    color: #787885;
    margin-top: 5px;
    
}   

.tag-container2{
    display: flex;
    flex-direction: row;
    gap:5px;
    padding: 3px 10px;
    background-color: #cb115e;
    border-radius: 50px;
    align-items: center;
}

.input-filtercomponent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.input-installmusic {
    
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #191E28;
    color: #787885;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-bottom: 24px; */
    padding:5px 40px 5px 16px;

}

.div-track {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
    align-items: center;

    @media screen and (max-width: 1024px){ 
        flex-direction: column;
        gap: 8px;
    }
}

.name-new-song {
    text-align: center;
    justify-content: center;
}

.upload-file-installmusic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 257px;
    height: 48px;
    /* margin-left: 40px; */

    border-radius: 15px;
    background: #FE1170;

    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.uploadcloud {

}

.column1-h2 {
    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

.column2-h2 {
    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
}

.column {
    width: 48%;

    @media screen and (max-width: 720px){ 
        width: 100%;
    }
}

.inp-column1, .song-text-area {
    width: 100%;
    height: 40px;   
    border: none;
    border-radius: 10px;
    background: #191E28;
    color: #787885;
    padding-left: 16px;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.song-text-area {
    padding: 10px 16px;
    resize: none;
    height: 500px;
}

.filters-select {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #191E28;
    color: #787885;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding:5px 16px 5px 16px;
}

.song-availability-text {
    display: flex;
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
    border-bottom: 3px solid #191E28;
    justify-content: space-between;
}

/* Switch */

.text-switch{
    display: flex;
    position: relative;
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 41px;
    background-color: #787885;
}

.text-switch-toggled {
    display: flex;
    position: relative;
    border-radius: 10px;
    
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 41px;
    background-color: #FE1170;
}

.text-switch:hover,
.text-switch-toggled{
    cursor: pointer;
}

.switch-ball{
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    left: 6px;
    transform: translateX(0);
    transition: 250ms ease-in-out;
}
.text-switch-toggled > .switch-ball{
    transform: translateX(150%);
}

.div-text {
    display: none;
    width: 100%;
    gap: 8px;
}

.text-checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: start;
   
   
}

.checkbox-button {
    
}

.label-checkbox {
    margin-left: 8px;
    color: #787885;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.upload-track-installmusic {
    width: 256px;
    height: 48px;  
    border-radius: 15px;
    background: #FE1170; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 48px;
    gap: 10px;
    
}

.upload-track-installmusic:hover {
    cursor: pointer;
}

.save-installmusic {
    width: fit-content;
    padding: 0 40px;
    height: 48px;  
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    color: #787885;
    border: 1px solid #787885;
}

.save-installmusic:hover {
    border: 1px solid #FE1170;
    cursor: pointer;
    color: white;
    transition: all .2s ease;
}

.button-and-text {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    text-align: start;
    margin-bottom: 24px;
    gap: 20px;
}

.warning-upload {
    color: #787885;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1040px;
}

.song-info {
    display: grid;
    width: 100%;
    align-content: space-between;
    gap: 20px;
}

.input-options {
    background-color: #191E28;
    width: 100%;
    padding: 16px 16px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    position: absolute;
    z-index: 2;
    margin-top: 50px;
}

.input-option {
    padding: 10px 16px;
    font-size: 16px;
}

.input-option:hover {
    background-color: #232a36;
    border-radius: 10px;
    cursor: pointer;
}

.hidden-options {
    display: none;
}

.red-border {
    border: solid #FE1170 2px;
}

.close-button {
    position: absolute;
    justify-self: end;
    margin-top: 100px;
    margin-right: 20px;
}

.input-with-tags {
    display: flex;
    flex-direction: column;
    gap: 8px;
}