.black-page{
    background-color: #0F141D;
    
}

.featured {
    text-align: start;
    margin-bottom: 80px;
    /* background-color: #0F141D; */

    width: 100%;
    max-width: 1220px;
    z-index: 5;
    
    @media screen and (max-width: 720px){ 
        margin-top: 40px;
    }
}

/* .featured > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 20px; */
    /* justify-self: start; */
    /* text-align: start;
} */

.new-playlist {
    /* width: 230px;
    height: 230px; */
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.new-playlist:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.98);
}

.search-element {
    display: flex;
    justify-content: space-between;
}

.page-search {
    margin: 0 0;
    display: inline;
}

.sub-h2 {
    color: #FFF;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.playlistskin {
    /* width: 230px;
    height: 230px; */
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}


.labelplaylist {
    color: #C5C5C5;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    text-align: start;
    width: 100%;
}