.featured {
    padding-top: 81px;
    /* display: grid; */
    max-width: 1200px;
    padding-left: 91px;

    @media screen and (min-width: 1200px){
        width: 1200px;
    }

    @media screen and (max-width: 1199px){
        width: 100%;
    }
}

.featured > h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 20px;
    /* justify-self: start; */
    text-align: start;
}

.new-playlist {
    width: 156px;
    height: 156px;
}

.new-playlist:hover {
    cursor: pointer;
    transition: all .1s ease;
    transform: scale(0.98);
}

.search-element {
    display: flex;
    justify-content: space-between;
}

.page-search {
    margin: 0 0;
    display: inline;
}