.song-modal {
    width: 257px;

    border-radius: 20px;
    border: 1px #2C323D solid;

    color: #787885;
    background-color: #191E28;
}

.song-modal__title {
    color: white;
    font-size: 14px;
    font-weight: 500;

    padding: 16px 24px;
}

.song-modal__playlists {
    overflow: scroll;

    border-top: 1px #2C323D solid;
    border-bottom: 1px #2C323D solid;

    padding: 12px 0;
    height: 154px;
}

.song-modal__playlist {
    display: flex;
    align-items: center;
    padding: 4px 24px;
}

.song-modal__playlist:hover {
    color: white;
    background-color: #222832;
}

.song-modal__playlist-selected {
    display: flex;
    align-items: center;
    padding: 4px 24px;
    color: #FE1170;
}

.song-modal__playlist-selected:hover {
    background-color: #222832;
}


.song-modal__playlist-thumb {
    margin-right: 8px;
    width: 20px;
    height: auto;
}

.song-modal__playlist-thumb-selected {
    position: absolute;
    background: linear-gradient(0deg, #191E28 0%, rgba(25, 30, 40, 0.00) 193.75%);  
}

.song-modal__playlist-name {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-modal__add-button {
    margin: 16px 24px 24px;

    font-size: 14px;
}

.song-modal__add-button:hover {
    color: #FE1170;
}

/* Стили ниже должны быть в главном css файле, но побоялся туда их добавлять, чтобы ничего не сломать */

button {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  font: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.track {
    display: flex;
    border-radius: 15px;
    gap: 24px;
    background: radial-gradient(228.74% 144.12% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
   
    width: 100%;
    height: 68px;
    /* max-width: 1040px; */
    align-items: center;

    margin-bottom: 33px;
    padding-left: 24px;
    padding-right: 24px;

    justify-content: space-around;
}

.track:hover {
    filter: brightness(90%)
}

.track > img {
    border-radius: 55px;
    width: 55px;
    height: 55px;
    /* margin-left: 15px;
    margin-right: 26px; */
    object-fit: cover;

    @media screen and (max-width: 720px){ 
        width: 50px;
        height: 50px;
    }
}

.track > img:hover {
    cursor: pointer;
}

.song-title-t {
    width: 100%;
    max-width: 328px;
    /* margin-right: 67px; */
    height: 67px;

    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;

    text-overflow:ellipsis;
    overflow:hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 720px){ 
        font-size: 16px;
        max-width: 300px;
        margin-right: 26px;
    }
}

.song-duration {
    width: 100%;
    max-width: 150px;
    /* margin-left: 10px; */
    text-align: end;
    color: #FFF;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-right: 10px; */

    @media screen and (max-width: 930px){ 
        display: none;
    }
}

.songAuthor{
    color: #C5C5C5;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 720px){ 
        font-size: 14px;
    }
}