.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 78px;
    background: #0F141D;

    padding: 0 60px;
    z-index: 10;
}
.logo_txt{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.header_pfp{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:8px;
}
.pfp_dropdown{
    user-select: none;
    color:white;
}
.pfp_dropdown:hover{
    cursor: pointer;
}
.pfp_image{
    width: 40px;
    border-radius: 50%;
}