.header{
    position: fixed;
    top:0;
    left:0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--header-height);
    background: #0F141D;
    border-bottom: 1px solid #2C323D;

    padding: 0 60px;
    z-index: 100;
    
}
.logo_txt{
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.logo_link{
    color:white;
}

.header_logo{
    display: flex;
    align-items: center;
    gap:17px;
}

.header_pfp{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:8px;
}
.pfp_dropdown{
    user-select: none;
    color:white;
}
.pfp_dropdown:hover{
    cursor: pointer;
}
.pfp_image{
    width: 40px;
    border-radius: 50%;
}