.header{
    position: fixed;
    top:0;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000000 ;
    width: 100%;
    padding: 5px 25px;
    z-index: 999;
}
.header-text{
    height:max-content ;
    color: white;
    font-family: var(--text-font);
}

.header__track{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:30px
}
.header__track-name{
    max-width: 270px;
    display: block;
    overflow-x: hidden;
    word-wrap: unset;
    white-space: nowrap;
}
.header__track-image{
    width: 40px;
    height: 40px;
}
.track-controller__btn{
    scale: 0.8;
    cursor: pointer;
}
.header__track-controller{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-right-container{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
}
.entrance-holder{
    display: flex;
    flex-direction: row;
    gap:15px;
}
.track-range{
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.track-range> #time{
    width: 80%;
}
input[type='range']{
    overflow:hidden;
}
.header-link{
    text-decoration: none;
    color:white;
}
.header-link:hover{
    text-decoration: underline;
}



