.search-artist-card{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.search-artist-card > a > img{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}