.artist-personal-page{
    background: black;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
}
.about{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.app-content-wrapper{
    display: flex;
    flex-direction: column;
    gap:70px;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.about-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.artist-name{
    font-size: 32px;
}
.submit-editing-btn{
    font-family: var(--text-font);
    font-size: 20px;
    background: #5E935D;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
}
.about-text-area{
    display: flex;
    gap:10px;
    flex-direction: column;
    width: 100%;
    align-items: start;
}
.artist-input-field{
    padding: 10px;
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    background:#EAE1E1 ;
    resize: none;
}
.stat{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info-area{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}
.link-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
}
.link-field:not(:nth-last-child(1)){
    margin-bottom: 10px;
}
.link-input{
    padding: 8px 20px;
    background:#EAE1E1;
    border-radius: 10px;
    min-width: 350px;
}
.span-title{
    font-weight: 600;
}
.link-label{
    font-weight: 200;
}
.link-label::before{
    content:'\25CF';
    margin-right: 20px;
}
.stat-area{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: start;
}
.stat-value::before{
    content:'\25CF';
    margin-right: 20px;
}
.pf-img{
    height: 100%;
}
.songs{
    display: flex;
    flex-direction: column;
    gap:40px;

}
.songs-upper-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.inner-btn-text::after{
    content: '\271A';
    margin-left: 15px;
}
.inner-btn-text{
    font-family: var(--text-font);
    font-size: 16px;
    color: white;
}
.add-btn{
    background: #5E935D;
    padding: 5px 20px;
    border-radius: 10px;
}
.songs-list>.track{
   max-width: 100%;
}
.songs-list>.track:nth-last-child(1){
    margin-bottom: 0;
}
