.search-tracks-top,
.search-authors-top,
.search-playlists-top,
.search-clips-top{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-show-more{
    color: #FE1170;
    display: flex;
    align-items: center;
    gap:10px;
    background: none;
    border: none;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.search-res-container{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding-bottom: 400px;
}
.pink-highlight{
    color: #FE1170;
}
.search-authors-content{
    display: flex;
    flex-direction: row;
    gap:40px;
    padding: 20px 0;
}
.search-artist-card{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.search-artist-card > a > img{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.clips{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clip-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap:25px;
}
.clip-cover{
    width: 335px;
    aspect-ratio: 16/9;
    border-radius: 24px;
    user-select: none;
}
.cover-wrapper{
    position: relative;
}
.clip-duration{
    position: absolute;
    bottom:16px;
    right: 25px;
    color:#fff;
    font-size: 16px;
}
.clip-song{
    display: flex;
    align-items: flex-start;
    gap:16px;
    height: 50px;
}
.song-img-placeholder{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.song-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.clip-song-name{
    font-weight: 400;
    font-size: 18px;
}
.clip-song-author{
    font-weight: 200;
    font-size: 16px;
}