.search-tracks-top,
.search-authors-top,
.search-playlists-top,
.search-clips-top{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-show-more{
    color: #FE1170;
    display: flex;
    align-items: center;
    gap:10px;
    background: none;
    border: none;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.search-show-more > span {
    font-size: 16px;
}

.search-res-container{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding-bottom: 400px;
}
.pink-highlight{
    color: #FE1170;
}
.search-authors-content{
    display: flex;
    flex-direction: row;
    gap:40px;
    padding: 20px 0;
}


