.player__sidebar{
    position: fixed;
    transition: 350ms ease-in-out;
    padding: 90px 50px 50px 50px;
    height: 100vh;
    width: 500px;
    top:0;
    left: 0;
    transform: translateX(-85%);
    background: linear-gradient(0deg,  rgba(249,204,204,1) 0%,rgba(40,27,38,1) 100%);
}


.sidebar__toggle-btn{
    display: flex;
    flex-direction: column;
    gap:5px;
    position: absolute;
    transition: 350ms ease-in;
    top:10%;
    right: 7%;
    width: 20px;
    height: 20px;
}
.sidebar__toggle-btn:hover{
    cursor: pointer;
}
.sidebar__toggle-btn-el{
    transition: 350ms ease-in-out;
    position: absolute;
    width: 25px;
    height: 2px;
    background: white;
}
.sidebar__toggle-btn-el:nth-child(1){
    top:0;
    left: 0;
}
.sidebar__toggle-btn-el:nth-child(2){
    top:7px;
    left: 0;
}
.sidebar__toggle-btn-el:nth-child(3){
    top:14px;
    left: 0;
}
.sidebar-expanded> .sidebar__toggle-btn> .sidebar__toggle-btn-el:nth-child(1){
    transform: rotate(45deg);
    top: 5px;
}
.sidebar-expanded> .sidebar__toggle-btn> .sidebar__toggle-btn-el:nth-child(2){
    opacity: 0;
}
.sidebar-expanded> .sidebar__toggle-btn> .sidebar__toggle-btn-el:nth-child(3){
    transform: rotate(-45deg);
    top: 5px;
}

.sidebar-expanded{
    transition: 350ms ease-in-out;
    transform: translateX(0);
    background: black;
}

.sidebar__label{
    position: relative;
    height: 300px;
    width: 100%;

}
.sidebar-logo{
    position: absolute;
    right: 50px;
    top:10%;
    width: 233px;
    height: 273px;
}
.label{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;

    position: absolute;
    top:0;
    left: 0;
    user-select: none;
    font-weight: 400;
    margin-left: 38px;
    margin-top: -15px;
    text-align: start;
    text-transform: uppercase;
}
.sidebar__searchbar{
    width: 100%;
    padding:20px;
}
.searchbar-form{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}
.search-input{
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
}

.search{
    background: none;
    border: none;
    align-items: center;
}
.search:hover{
    cursor: pointer;
}
.search-img{
    width: 30px;
    fill: white;
}

.sidebar__menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: -50px;
    list-style-type: none;
}
.nav-el{
    font-family: var(--text-font);
    width: 85%;
    font-size: 24px;
    padding: 15px 60px;
    background: #EAE1E1;
    border-radius: 0 40px 40px 0;

    display: flex;
    align-items: start;
}
.nav-el:hover{
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
    color: black;
}
li:has(>a.active){
    background: #5E935D;
}
.active{
    color: #EAE1E1;
}

.sidebar {
    z-index: 100;
}