/* BASIC */
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: row;
    padding:78px 20px 0 60px;
    top:0;
    left: 0;
    width: 340px;
    height: 100dvh;
    background: rgb(25,30,40);
    background: linear-gradient(180deg, rgba(25,30,40,1) 50%, rgba(15,20,29,1) 100%);
    z-index: 99;
    transition: 250ms ease-in-out;
}
.sidebar > * {
    transition: opacity 250ms ease-in-out;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    gap:40px;
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
    width: 100%;
}

.bg-gradient{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/* SEARCHBAR */

.searchbar-container{
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.searchbar{
    font-family: var(--text-font);
    font-size: 16px;

    background: transparent;
    color: #787885;
    padding:10px 15px 10px 50px;
    border-radius: 10px;
    border:1px solid #787885;
    width: 100%;
    margin: 0 auto;
}

.searchbar-submit{
    position: absolute;
    background: none;
    border: none;
    top:10.5px;
    left:18px;
}

/* MUSIC */

.music-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
}
.section-title{
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.nav-links{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap:22px;
    list-style-type:none ;
}

.nav-link{
    display: flex;
    align-items: center;
    gap:10px;
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color:#787885;
}
.fav{
    margin-left: -4px;
}
.remove{
    margin-left: -3px;
    gap:13px;
}
.wave{
    gap:16px;
}
.active > img{
    filter: invert(30%) sepia(82%) saturate(7218%) hue-rotate(327deg) brightness(105%) contrast(103%);
}

/* PLAYLISTS */
.playlists-container{
    display: flex;
    flex-direction: column;
    gap:25px;
    align-items: start;
}

.sidebar-playlist, .add_playlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.sidebar-playlist:hover{
    cursor: pointer;
}
.sidebar-playlists{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap:22px;
}
.sidebar-playlist-thumb, .add-playlist-btn{
    width: 24px;
    height: 24px;
}
.sidebar-playlist-name{
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color:#787885;

    display: flex;
    gap: 10px;
}

.sidebar-playlist-name > img {
    height: 24px;
    width: 24px;
    border-radius: 5px;
    object-fit: cover;
}

.add-playlist:hover > span,
.sidebar-playlist-name:hover{
    color:#a6a6b3;
}
.add-playlist-icon{
    background: transparent;
    border:none;
    color:#787885;
    font-size: 24px;
    font-weight: 600;
    margin-top:5px;
}
.add-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.collapse{
    padding: 70px 0 60px 0;
    width: 40px;

    @media screen and (max-width: 720px){ 
        width: 0;
    }
}
.collapse > .sidebar-content{
    pointer-events: none;
    transform: translateX(-400px);
    
}

@media screen and (max-width: 720px){ 
    .sidebar{
        width: 100%;
        padding: 78px 16px 0 16px;
        background: #0F141D;
    }

    .collapse{
        width: 0;
        padding: 0;
    }

    .music-container .section_title{
        font-size: 20px;
        font-weight: 400;
        width: calc(100% + 32px);
        text-align: start;
        border-bottom: 1px solid #2C323D;
        transform: translateX(-16px);
        padding-left: 16px;
        padding-bottom: 10px;
    }
    .nav-links > li > a > span{
        font-size: 18px !important;
    }

}


