.color-page {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(40,27,38,1) 0%, rgba(249,204,204,1) 100%);
    display: flex;
    justify-content: center;
}

.search-input {
    border-radius: 50px;
    background: #EAE1E1;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25) inset;
    outline: none;
    border: transparent;

    color: black;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.search-input::placeholder {
    background: url('../../Images/player/search-ico.svg') no-repeat scroll 160px 0px;

}

.admin-circle {
  margin-left: 130px;
  margin-top: 2px;
}

.admin-application {
    color: #FFF;

    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 20px;
    margin-top: -2px;
}

.pencil-for-admin {
  margin-left: 50px;
  margin-top: 2px;
}

.admin-users-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 24px;
  margin-top: -40px;
  width: 100%;
  max-width: 860px;
}

.admin-users {
  display: flex;
  gap: 40px;
  width: 100%;
}