.login_wrapper {
    height: 95.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--sidebar-width);
    transition: padding 250ms ease-in-out;
}

.login__content-form {
    border-radius: 26.535px;
    border: 1px solid rgb(100, 100, 100);
    background: radial-gradient(237.69% 139.69% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(21px);   

    width: 500px;
    height: fit-content;
    padding: 40px 70px;

    display: grid;
    align-items: start;

    @media screen and (max-width: 720px) {
        width: 100%;
        padding: 40px 40px;
    }
}

.login__content {
    /* margin-top: 220px; */
    z-index: 8;
    margin: 0 24px;
}

.login-logo {
    margin-bottom: 70px;
    @media screen and (max-width: 720px) {
        width: 100%;
    }
}

.login-auth-form__label {
    color: #FFF;
    text-align: start;

    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;

    @media screen and (max-width: 720px) {
        font-size: 24px;
    }
}

.login-input {
    margin: 0;
    margin-bottom: 25px;
    border-style: none;
    height: 47px;

    border-radius: 10px;
    border-bottom: 2px solid #FFF;
    background: #585B62;

    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;

    padding: 0 14px;

    @media screen and (max-width: 720px) {
        font-size: 16px;
    }
}

.login-input::placeholder {
    color: #FFF;
}

.login-submit-button {
    margin: 0;
    margin-bottom: 24px;
    margin-top: 13px;
    border-style: none;
    border-radius: 15.264px;
    background: #CB115E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    width: 359px;
    height: 64px;

    color: #FFF;

    font-family: Montserrat;
    font-size: 32.662px;
    font-style: normal;
    font-weight: 500;
}

.login-form-subtext {
    margin: 0;
    color: #FFF;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400; 

    @media screen and (max-width: 720px) {
        font-size: 14px;
    }
}

.reg-a {
    color: #FE1170;
    @media screen and (max-width: 720px) {
        font-size: 14px;
    }
}

.warning-login {
    margin: 0;
    margin-top: -20px;
    color: #fe1111;
    text-align: start;
    font-size: 14px;
    @media screen and (max-width: 720px) {
        font-size: 12px;
    }
}

.headphones {
    position: fixed;
    margin-top: 500px;
    margin-left: 20%;
}

.decorative-stripe {
    position: fixed;
    bottom: 0;
    width: 100%;
}