/* CONTAINERS */
.player-area{
    position: relative;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    min-height: 100dvh;
    background: #0f141d;
    padding-left: var(--sidebar-width);
}
.main-player-container,
.lyrics-container,
.filters-container{
    z-index: 8;
}

/* BG-IMAGE */
.player-bg-image{
    pointer-events: none;
    position: absolute;
    left: var(--sidebar-width);

    width: calc(100% - var(--sidebar-width));
    height: max(100%, 100vh);

    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1)-60%, rgba(0,0,0,0)80%);
    filter: blur(.5em);
}

/* PLAYER */
.main-player-container{
    padding-top: calc(var(--header-height) * 2 - 40px);
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    gap:35px;
}
.current-song-title{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
.current-song-span{
    user-select: none;
    font-family: var(--text-font);
    font-size: 32px;
}
.about-author{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;

    padding: 20px 20px;
    border-radius: 20px;
    
    background-color: #cb115e;
    border:none;
    
    font-family: var(--text-font);
    color: white;
    font-size: 26px;
    font-weight: 500;
}
.about-author:hover{
    cursor: pointer;
}

/* LYRICS */
.lyrics-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top: calc(var(--header-height) * 2 - 40px);
    padding-inline: 50px;
}

.song-name{
    margin-top: 65px;
    font-family: var(--text-font);
    font-size: 40px;
    font-weight: 500;
    text-align: left;
}

.song-authors{
    font-family: var(--text-font);
    font-size: 28px;
    font-weight: 300;
    text-align: left;
}
.song-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    line-height: -10%;
}
.song-tag{
    font-family: var(--text-font);
    font-size: 12px;
    padding: 1px 15px;
    border: 2px solid #cb115e;
    border-radius: 50px;
    padding-bottom: 3px;
}

.song-lyrics{
    scrollbar-width: none;
    position: relative;
    line-height: 2rem;
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    white-space: pre-wrap;
    max-height: 70vh;
    overflow-y: scroll;

    transition: max-height 350ms ease-out;
}
.closed-lyrics > .cover-gradient{
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background: rgb(25,30,40);
    background: linear-gradient(0deg, rgba(25,30,40,1) 0%, rgba(16,21,30,1) 0%, rgba(15,20,29,0) 100%);
    z-index: 10;
}
.open-lyrics-button{
    display: flex;
    align-items: center;
    gap:10px;

    font-family: var(--text-font);
    font-size: 16px;
    color:#fff;

    background:none;
    border: none;
    width: max-content;

}
.closed-lyrics{
    overflow: hidden;
    max-height: 0;
}
::-webkit-scrollbar { display: none; }
.track-cover{
    width: 100%;
    align-self: center;
}
