body{
    background: linear-gradient(0deg, rgba(40,27,38,1) 0%, rgba(249,204,204,1) 100%);
}
.player{
    grid-auto-columns: auto;

    overflow-x: hidden;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}
.player__content-wrapper{
    padding-left: 82px;
    @media screen and (min-width: 1200px) {
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1199px) {
        display: grid;
    }
}
.text-area{
    max-height: 100vh;
    margin-top:140px;
}

.main-player{
    height: 100vh;
    @media screen and (max-width: 1199px) {
        margin-top: -100px;
        margin-bottom: -500px;
    }
}
.filters{
    margin-top: 142px;
    height: 100vh;
}
#lyrics::-webkit-scrollbar{
    display: none;
}
.text-container{
    overflow-y: scroll;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.song-lyrics{
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.text-container>p{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.text-container>p>span{
    font-family: var(--text-font);
    font-weight: 200;
    font-size: 16px;
    color: white;
}
.main-player{
    display: flex;
    flex-direction: column;
    gap:60px;
    width: 343.427px;
}
.main-player__cover{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 450px;
    background: #EAE1E1;
    margin: 227px auto 0 auto;
    top:30%;
    padding: 20px 30px;
    /* gap:15px; */
    align-items: start;

    border-radius: 20px;
}

.cur-playing{
    font-family: var(--text-font);
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 10px;
}
.song-cover{
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    max-width: 282px;

    margin-bottom: 15px;
}
.song-title{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
}

.player-song-title {
    text-align: start;
    color: #313131;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 15px;
}

.author {
    color: #313131;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.author-more-btn{
    background: #5E935D;
    padding: 15px 20px;
    width: 100%;
    border-radius: 30px;
    border: none;
}
.author-more-btn:hover{
    box-shadow: 1px 1px 2px darkgray;
}
.author-more-btn > a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: var(--text-font);
}

.main-player__controller{
    padding: 30px 30px 15px 30px;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    background: #EAE1E1;
}
.song-range-controller{
    width: 100%;
}
.song-control-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.song-control-button{
    background: none;
    border: none;
}
.cntrl-btn-img{
    width: 100%;
    filter: brightness(0%);
}
.switch-field{
    display: flex;
    flex-direction: column;
}
.filters__panel{
    position: absolute;
    height: 100%;
    width: 370px;
    background: black;
    /* bottom: 0; */
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
    padding-top:20px ;
}

.switch-upper-filed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cb-label{
    font-family: var(--text-font);
    color: white;
    font-size: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #8B6868
}

input:focus + .slider {
    box-shadow: 0 0 1px #8B6868          ;
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}
.slider.round:before {
    border-radius: 50%;
}

.filters__panel-label {
    text-align: start;
    padding-left: 27px;
}

.switch-panel{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap:7px;
}
.radio-filter{
    margin-left: 3px;
    scale: 1.5;
}

.plus2 {
    padding-top: 10px;
}

.switch-input{
    color: black;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    width: 314px;
    height: 35px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border:none ;

    border-radius: 9px;
    background: #EAE1E1;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.switch-input::placeholder{
    color: #A6A6A6;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.switch-bottom-field{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    gap:8px;
    align-items: center;
}
.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    width: max-content;
    padding:0 10px;
    border-radius: 20px;
    background: #8B6868;
}
.tag-close{
    cursor: pointer;
    font-size: 22px;
}
.tag-text{
    font-family: var(--text-font);
    color: white;
    font-size: 12px;
}
.switch-middle-field>form{
    display: flex;
    align-items: center;
    gap: -1px;
    flex-direction: row;
}
.add-button{
    border-radius: 0 10px 10px 0;
    background: none;
    border: none;
    height: 35px;
    width: 34px;
}
select.dropdown{
    border-radius: 9px;
    background: #EAE1E1;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

    color: black;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    
    padding: 8px;
    border-radius: 10px;
    background:#EAE1E1;
}
.dropdown-label{
    text-align: start;
}
label.extra-label{
    text-align: start;
    width: 83%;
    margin: 0 auto 10px auto
}
.checkbox-field{
    padding: 5px;
    background:#EAE1E1;
}
.extra-params-panel {
    display: flex;
    flex-direction: column;
}
.extra-params-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.checkbox-field{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    width: 83%;
    margin: 0 auto;
}
.checkbox-placeholder{
    user-select: none;
    font-size: 16px;
    color: black;
}
.checkbox-extra{
    width: 20px;
    cursor: pointer;
}